h1{
	border-bottom : 5px solid red;
	text-align : center;
	color : red;

}

h2{
	border-bottom : 5px solid blue;
	color : blue;

}

p{
	padding : 25px;
	

}

.right{
	width : 25%;
    border	: 2px solid blue;
    float: right;
	box-sizing: border-box;


}

.left{
    width : 74.5%;
    padding:  0px;
    margin: 0px;
}

